aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.6
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
discord.py==1.7.2
geojson==2.5.0
grpcio==1.37.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hstspreload==2020.12.22
httpcore==0.12.3
httplib2==0.19.1
hyperframe==6.0.0
httpx==0.17.1
idna==3.1
jokeapi==0.2.10
jokes==0.1.7
libcst==0.3.17
loguru==0.5.3
lxml==4.6.3
multidict==5.1.0
mypy-extensions==0.4.3
oauth2==1.9.0.post1
packaging==20.9
praw==7.2.0
prawcore==2.0.0
proto-plus==1.18.1
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
PyExecJS==1.5.1
pyparsing==2.4.7
PySocks==1.7.1
python-dotenv==0.17.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rfc3986==1.4.0
rsa==4.7.2
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
toml==0.10.2
translators==4.7.16
typing-extensions==3.7.4.3
typing-inspect==0.6.0
update-checker==0.18.0
urllib3==1.26.4
websocket-client==0.58.0
win32-setctime==1.0.3
yarl==1.6.3
yelp==1.0.2
yelpapi==2.4.0
youtube-dl==2021.4.7
